body{
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.heading{
  -webkit-text-fill-color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
}

.monospace{
  font-family: 'Roboto', sans-serif;
}

.subHeading{
  font-family: monospace;
  font-size: 1.5em;
  -webkit-text-fill-color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.axes_label{
  dominant-baseline: middle;
  text-anchor: middle;
  fill: black;
  font-size: 1.2em;
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
}

.hidden{
  display: none;
}

.shown{
  display: null;
}
